*{
    box-sizing: border-box;
}
body{ font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 15px 30px;
      font-size:17px ;
      padding: 60px;
      font-weight: 700;
}
.container{
    background-color:#f2f2f2;
    padding: 55px 70px 65px 70px;
    border: 1px solid lightgrey ;
}
input[type="text"],
textarea,
input[type="number"],
input[type="password"],
input[type="email"],
input[type="date"],
select{
     width:100%;
    padding: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
     margin: 10px;


}
.special{
    text-align:right;
}
fieldset{border: 1px solid #ccc;

}
.top{
    text-align: center;
} 
input[type="submit"]:hover{
font-size: larger;
font-style: italic;
background-color:turquoise;




}
input[type="submit"]{
    background-color: rgb(68, 201, 157);
    padding: 10px;
    color:white;
    font-size: medium;
    border: none;
    border-radius: 4px;
    cursor:pointer;
    width: 100%;

}
